# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

## CMake stuff
*.cmake
CMakeCahce.txt
install_manifest.txt
Makefile
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Executables
*.exe
*.out
*.app

# Ignore the build directory
build

# SWIG python files and wrappers
swig/build
swig/*.egg-info
swig/nwsspc/sharp/calc/*_wrap.cpp
swig/nwsspc/sharp/calc/constants.py
swig/nwsspc/sharp/calc/interp.py
swig/nwsspc/sharp/calc/layer.py
swig/nwsspc/sharp/calc/params.py
swig/nwsspc/sharp/calc/parcel.py
swig/nwsspc/sharp/calc/profile.py
swig/nwsspc/sharp/calc/thermo.py
swig/nwsspc/sharp/calc/winds.py
