[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = git@github.com:jothepro/doxygen-awesome-css.git
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = git@github.com:google/benchmark.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind
