# Use the official RHEL8 Universal Baseline Image (UBI) 
# to build and test SHARPlib using CMake.

image: redhat/ubi8

variables:
  BUILD_DIR: "build"
  CMAKE_BUILD_OPTIONS: "-j 4"

# Before doing anything, we need to make
# sure the required libraries are installed
# on the image, and initialize submodules
before_script:
  - dnf update -y && dnf install -y cmake make gcc gcc-c++ git
  - git submodule update --init --recursive

## The CMake build step
build:
  stage: build
  script:
    - cmake -B $BUILD_DIR .
    - cmake --build build $CMAKE_BUILD_OPTIONS 
    - cmake --build build $CMAKE_BUILD_OPTIONS --target SHARPlib_tests
  artifacts:
    paths:
      - build/ 
      # depending on your build setup it's most likely a good idea to cache outputs to reduce the build time
      # cache:
      #   paths:
      #     - "*.o"

# run tests using the binary built before
test:
  stage: test
  script:
    - cd build
    - ctest --verbose

