[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git 
