name: documentation

on:
  push:
    branches: ["develop", "sphinx"]
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-tags: 'true'
          fetch-depth: 0
      - name: Change submodule URLs to HTTPS 
        run: |
          git submodule foreach '
            git config submodule.$name.url https://github.com/$urlPath
          '
      - name: Submodules and Dependencies
        run: |
          git config --global --add safe.directory ${{ github.workspace }} 
          git submodule update --init --recursive
      - name: Python Setup
        uses: actions/setup-python@v5
      - name: Install dependencies 
        run: |
          pip install sphinx pydata-sphinx-theme breathe numpy .
      - name: Sphinx Build
        run: |
          sphinx-build docs _build
