name: documentation

env:
  DOXY_VER: "1.9.6"
  DOC_VER: "dev"

on:
  push:
    branches: ["develop", "sphinx"]
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

permissions:
  contents: write

jobs:
  build_and_deploy:
    name: Build and Deploy Docs
    runs-on: ubuntu-latest
    outputs:
      doc_ver: ${{ steps.version_check.outputs.doc_ver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-tags: 'true'
          fetch-depth: 0

      - name: Change submodule URLs to HTTPS 
        run: |
          git submodule foreach '
            git config submodule.$name.url https://github.com/$urlPath
          '
        shell: bash

      - name: Submodules and Dependencies
        run: |
          git submodule update --init --recursive
        shell: bash

      - name: Python Setup
        uses: actions/setup-python@v5

      - name: Install Doxygen 
        run: |
          transformed_version=$(echo "$DOXY_VER" | tr '.' '_')
          wget https://github.com/doxygen/doxygen/releases/download/Release_${transformed_version}/doxygen-$DOXY_VER.linux.bin.tar.gz
          tar -xzf doxygen-$DOXY_VER.linux.bin.tar.gz
          sudo mv doxygen-$DOXY_VER/bin/doxygen /usr/local/bin/doxygen
        shell: bash

      - name: Install Python Dependencies 
        run: |
          pip install sphinx pydata-sphinx-theme breathe numpy .

      - name: Get Documentation Version 
        id: version_check 
        run: |
          python -c "
          import os
          import nwsspc.sharp.calc as sharplib
          
          version = sharplib.__version__
          print(f'Detected version: {version}')
          
          if 'dev' in version:
              doc_ver = 'dev'
          else:
              doc_ver = f'v{version}'
          
          with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
              f.write(f'doc_ver={doc_ver}\\n')
          "

      - name: Sphinx Build
        run: |
          cd docs; doxygen Doxyfile
          sphinx-build -M html . _build

      - name: Upload to GH Pages
        env:
          DOC_VER: ${{ steps.version_check.outputs.doc_ver }}
        uses: peaceiris/actions-gh-pages@v4 
        with: 
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          destination_dir: ./${{ steps.version_check.outputs.doc_ver }}

