name: Python CI (Linux, MacOS, Windows) 

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  build:
    runs-on: ${{ matrix.os }} 
    strategy: 
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Set windows environment variables
        if: startsWith(matrix.os, 'windows')
        shell: pwsh
        run: |
          echo "NUGET_PACKAGES=D:\nuget\packages" >> $ENV:GITHUB_ENV
          echo "DOTNET_ROOT=D:\tools\dotnet" >> $ENV:GITHUB_ENV
          echo "DOTNET_INSTALL_DIR=D:\tools\dotnet" >> $ENV:GITHUB_ENV
          echo "LocalAppData=D:\a\_LocalAppData" >> $ENV:GITHUB_ENV
          echo "TEMP=D:\a\_temp" >> $ENV:GITHUB_ENV
          echo "TMP=D:\a\_temp" >> $ENV:GITHUB_ENV

      - name: Checkout 
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-tags: 'true'
          fetch-depth: 0

      - name: Change submodule URLs to HTTPS 
        run: |
          git submodule foreach '
            git config submodule.$name.url https://github.com/$urlPath
          '
      - name: Submodules and Dependencies
        run: |
          git config --global --add safe.directory ${{ github.workspace }} 
          git submodule update --init --recursive

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build and install
        run: |
          python -m pip install pytest pandas fastparquet
          pip install --verbose .
      
      - name: Test
        run: python -m pytest
